body{
    background-color: blueviolet;
}
.banner{
    position: relative;
}
.banner{
    max-width: 100%;
}
.banner .welcome{
    background-color: #feb61f;
    position: absolute ;
    left: 0px;
    top: 30%;
}
