body{
    background-color: blueviolet;
}
.a1{
    color: red;
}
.banner{
    color: red;
}
.welcome{
    color: blue;
}
.main-nav{
    color: red;
}
.image{
    color: red;
}
.join{
    color: red;
}
.copyright{
    color: red;
}
.welcome:hover{
    color: red;
}