body, ul, li, h1, h2 a{
    margin: 0;
    padding: 0;
    font-family: yellowtail;
    word-spacing: 3px;
}
body{
    background-color: blueviolet;
}
header{
    position: fixed;
    background-color: red;
    padding: 20px;
    text-align: center;
    width: 100%;
    z-index: 1;
    top: 0;
    
    left: 0;
}
header .h1{
    color: white;
    border: 8px solid white;
    padding: 6px 12px;
    display: inline-block;
    border-radius: 36px;
}
.banner{
    position: relative;
}
.banner{
    max-width: 100%;
}
.banner .welcome{
    background-color: #feb61f;
    color: white;
    padding: 20px;
    position: absolute ;
    left: 0px;
    top: 30%;
}
.banner h2{
    font-size: 74px;
}
.banner .h2 .span{
    font-size: 1.5em;
}
nav{
    background-color: #f4f4f4;
    padding: 20px;
    position: sticky;
    top: 106;
}
nav ul{
    white-space: nowrap;
    max-width: 1200px;
    margin: 0 auto;
}
nav li{
    width: 25%;
    display: inline-block;
}
nav li a{
    text-decoration: none;
    color: #4b4b4b;
}
nav li a .join{
    color: #fc3232;
}
main{
    max-width: 100%;
    width: 1200px;
    margin: 80px auto;
    padding: 0 40px;

}
