span{
    display: inline-block;
    margin: 20px;
    padding: 20px;
}
div{
    /* display: inline; */
    border: 2px solid crimson;
    margin: 20px;
    padding: 20px;
}
body{
    background-image: url("img/flash-img/Flash\(prepare\ to\ run!\).jpg");
    background-attachment: fixed;
    background-size: -20px;
}